<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.3.0" newVersion="4.19.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
    <!--<stepAssemblies>
      -->
    <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
    <!--
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />-->
    <!--
    </stepAssemblies>-->
  </specFlow>
  <appSettings>
    <add key ="AccountsAPIURL" value="https://accounts.spotify.com"/>
    <add key ="TokenResource" value="/api/token"/>
    <add key ="SpotifyURL" value="https://api.spotify.com"/>
    <add key ="NewReleasesResource" value="/v1/browse/new-releases"/>
    <add key ="CategoriesResource" value="/v1/browse/categories"/>
    <add key ="ArtistsResource" value="/v1/artists?ids=2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"/>
    <add key ="AlbumsResource" value="/v1/albums/0sNOF9WDwhWunNAHPD3Baj"/>
    <add key ="PlayListResource" value="/v1/users/${Users}/playlists"/>
    <add key ="TracksResource" value="v1/tracks?ids=7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"/>
    <add key ="ClientID" value="8bf6a1286082410aac2723290d828ae3"/>
    <add key="ClientSecret" value="5e4ded0971824000a2a7e343f8b50d7e"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>
  