<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.3.0" newVersion="4.19.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>
    <add key="AccountsAPIURL" value="https://accounts.spotify.com" />
    <add key="TokenResource" value="/api/token" />
    <add key="AuthorizeResource" value="/authorize" />
    <add key="SpotifyURL" value="https://api.spotify.com" />
    <add key="NewReleasesResource" value="/v1/browse/new-releases" />
    <add key="CategoriesResource" value="/v1/browse/categories" />
    <add key="ArtistsResource" value="/v1/artists?ids=2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6" />
    <add key="AlbumsResource" value="/v1/albums/0sNOF9WDwhWunNAHPD3Baj" />
    <add key="PlayListResource" value="/v1/users/avzrule/playlists" />
    <add key="TracksResource" value="v1/tracks?ids=7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B" />
    <add key="AddTracksQueryParameters" value="spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M" />
    <add key="DeleteTrackID" value="4iV5W9uYEdYUVa79Axb7Rh"/>
    <add key="ClientID" value="8bf6a1286082410aac2723290d828ae3" />
    <add key="ClientSecret" value="5e4ded0971824000a2a7e343f8b50d7e" />
    <add key="MeURL" value="/v1/me"/>
    <add key="ModifyToken" value="BQBnXGDY0amWgZv869eVnApPbrDM-v3Z4xaMxPsxczu_EGNPIl4Jf81khD5EmnoLmvQEpDCdESHelmh80vJFkNnZSxiWPmNREw61SuLRJWE9BCZB_HAiEQj7UiW6mrfRyZFyufeHv7Kest2cBfRcR0-dLgsBPVmZqBQypVa9ZZwDDpV2i9smUgwMG_fgF3sb7vN84LFfh3FYhMPVv0DsMd73pHMziNBmC-CP0xncNXPQ5EuKwk2UwDHXWcqCBv6FwU75syiuk3M544Fx8pjl4aVinYAW-rki9BPCyx_urhfkBkIzmqKGEqMCdr8Rqg" />
    <add key="Redirect_URI" value="http://localhost:8888/callback" />
    <add key="Response_Type" value="code" />
    <add key="Scope" value="playlist-modify-public playlist-modify-private playlist-read-private playlist-read-collaborative user-library-read user-library-modify user-read-private user-read-birthdate user-read-email user-follow-read user-follow-modify user-top-read user-read-playback-state user-read-recently-played user-read-currently-playing user-modify-playback-state" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
  <unitTestProvider name="SpecRun+MsTest" />
  <plugins>
      <add name="SpecRun" />
    </plugins>
</specFlow>
</configuration>
  